html {
    box-sizing: border-box;
}

body {
    max-width: 640px;
    margin: 0 auto;
}

.body__text-container h2 {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Saira', Arial, sans-serif;
    text-align: left;
    z-index: 100;
    position: relative;
    margin-bottom: 400px;
    background-color: #fff;
}

.body__text-container {
    margin-top: 500px;
}

.body__image {
    max-width: 30%;
    position: fixed;
    min-height: 30%;
    margin-left: calc(40% - (640px / 2));
}

.body__content {
    display: flex;
    flex-direction: row;
}

@keyframes hide {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes notes_rotate {
    from { transform: rotate(-10deg); }
    to   { transform: rotate(10deg); }
}

.intro1 {
    animation: hide .1s linear infinite alternate;
}

.intro2 {
    animation: hide .3s linear infinite alternate;
    display: none;
}

.intro3 {
    animation: hide .5s linear infinite alternate;
}

.image__fixed {
    position: absolute;
    top: 180px;
    width: 230px;
}

.ball__fixed {
    position: fixed;
    top: 300px;
    min-width: 75px;
    max-width: 50px;
    animation: rotate 2s linear infinite;
}

.notes__fixed {
    position: fixed;
    top: 300px;
    min-width: 75px;
    max-width: 50px;
    animation: notes_rotate .3s linear infinite alternate;
}
