@font-face {
    font-family: 'Proza Libre';
    src: url('../fonts/ProzaLibre-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'NHaasGrotesk';
    src: url('../fonts/NHaasGroteskBd.ttf');
    font-weight: bold;
}



html {
    box-sizing: border-box;
}

body {
    max-width: 640px;
    margin: 0 auto;
    background-color: #F1F0EC;
    color: #333;
    font-family: 'NHaasGrotesk';
}

.body__text-container h2 {
    font-size: 22px;
    line-height: 26px;
    font-family: 'Proza Libre', Arial, sans-serif;
    text-align: left;
    z-index: 100;
    position: relative;
    margin-top: 460px;
    font-weight: 400;
    background-color: #F1F0EC;
}

.body__text-container {
    margin-top: 00px;
}

.body__image {
    max-width: 30%;
    position: fixed;
    min-height: 30%;
    margin-left: calc(40% - (640px / 2));
    top: 180px;
}

.body__content {
    display: flex;
    flex-direction: row;
}

.body__content-intro {
    text-align: center;
}

.body__content-intro h1 {
    font-size: 64px;
    text-decoration: underline;
    z-index: 10;
    position: relative;
    background-color: #F1F0EC;
}

.body__content-intro-image {
    width: 240px;
    margin-top: 100px;
}

@keyframes hide {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes orbit {
    0% {
        top: -20%;
        left: -10%;
    }
    100%   {
        top: 30%;
        left: 200px;
    }
}

@keyframes z_orbit {
    0% {
        z-index: 2;
    }
    40% {
        z-index: 2;
    }
    50% {
        z-index: -3;
    }
    60% {
        z-index: -3;
    }
    90% {
        z-index: -3;
    }
    100% {
        z-index: 2;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to   {
        transform: rotate(360deg);
    }
}

@keyframes young_rotate {
    from { transform: rotate(-10deg); }
    to   { transform: rotate(10deg); }
}

.intro1 {
    animation: hide .1s linear infinite alternate;
}

.intro2 {
    animation: hide .3s linear infinite alternate;
    display: none;
}

.intro3 {
    animation: hide .5s linear infinite alternate;
}

.image__fixed {
    position: absolute;
    width: 250px;
    transition: width 2s, opacity .8s ease-in-out;
    opacity: 0;
}

.ball__fixed {
    position: absolute;
    right: 20px;
    width: 120px;
    animation: rotate 2.7s linear infinite, orbit 2.4s linear infinite alternate,
    z_orbit 4.8s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.notes__fixed {
    position: absolute;
    left: 20px;
    width: 120px;
    animation:  young_rotate .6s linear infinite alternate, orbit 2.4s linear infinite alternate, z_orbit 4.8s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-delay: -1.2s;
}
.cloud__fixed {
    position: absolute;
    left: -250px;
    top: -200px;
    width: 400px;
    opacity: 0;
    animation: rotate 30s linear infinite;
}

.arrow__fixed {
    position: absolute;
    left: 20px;
    width: 50px;
    transition: width 1s ease-in-out;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}

.young__fixed {
    position: absolute;
    width: 250px;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.tools__fixed{
    position: absolute;
    width: 450px;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    animation:  young_rotate 2s linear infinite alternate;
}

.rain_cloud__fixed{
    position: absolute;
    width: 350px;
    left: -200px;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.raindrop__fixed{
    position: absolute;
    width: 20px;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    animation: raindrop .8s linear infinite;
}

.rain1{
    left: -120px;
    animation-delay: -.45s;
}
.rain2{
    left: -100px;
    animation-delay: -.15s;
}
.rain3{
    left: -80px;
    animation-delay: -.6s;
}
.rain4{
    left: -60px;
    animation-delay: -.3s;
}
.rain5{
    left: -40px;
}

@keyframes raindrop {
    from {
        top: 40%;
    }

    to   {
        top: 100%;
    }
}

@keyframes slideout {
    from {
        stroke-dasharray: 12px;
        stroke-dashoffset: 0px;
    }

    to {
        stroke-dasharray: 12px;
        stroke-dashoffset: 24px;
    }
}

.arrow__fixed path {
    stroke-dasharray: 192px;
    stroke-dashoffset: -192px;
    animation: slideout .5s linear 0s infinite;
}
