@import 'vars';

html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #F1F0EC;
    color: #333;
    font-family: 'NHaasGrotesk';
}

.comic__main {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    margin: 0 auto;
}

@media screen and (min-width: $tablet) {
    .comic__main {
        max-width: 80vw;
    }
}
