@import 'vars';

.comic__main--image {
    max-width: 30%;
    position: fixed;
    min-height: 30%;
    margin-left: calc(40% - (640px / 2));
    top: 25vh;
}

@media screen and (max-width: 620px) {
    .comic__main--image {
        margin-left: 0px;
    }
}

@media screen and (min-width: $mobile) {
    .comic__main--text--intro img {
        max-width: 90vw;
        margin-top: 0px;
        position: absolute;
        bottom: 0px;
        left: 5vw;
    }
}

@media screen and (min-width: $tablet) {
    .comic__main--text--intro img {
        max-width: 70vh;
        left: 30vw;
    }
}
