@import 'vars';

.workcloud__fixed {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 15vw;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    top: 0;
}

.phone {
    pointer-events: none;
}
