@import 'vars';

.social__fixed {
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}


@media screen and (min-width: $mobile) {
    .social-img__fixed {
        width: 70vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: 5vh;
    }

    .social-y__fixed {
        position: absolute;
        top: 30vh;
        left: 70vw;
        font-family: 'Neucha';
    }

    .social-label__fixed {
        position: absolute;
        top: -25vh;
        left: 1vw;
        min-width: 300px;
        font-family: 'Neucha';
        text-decoration: underline;
        font-size: 30px;
    }

    .motivation-label__fixed {
        position: absolute;
        top: -25vh;
        left: 1vw;
        min-width: 300px;
        font-family: 'Neucha';
        text-decoration: underline;
        font-size: 30px;
    }

    .schedule-x__fixed {
        position: absolute;
        top: -25vh;
        left: 0vw;
        min-width: 300px;
        font-family: 'Neucha';
        text-decoration: underline;
        font-size: 30px;
    }
}


@media screen and (min-width: $mobileLandscape) {
    .social-img__fixed {
        width: 50vw;
        top: 5vh;
        left: 30vw;
    }

    .social-y__fixed {
        top: 30vh;
        left: 15vw;
    }

    .social-label__fixed {
        top: -10vh;
        left: 40vw;
    }
}

@media screen and (min-width: $tablet) {
    .social-img__fixed {
        width: 40vh;
        top: 10vh;
    }

    .social-y__fixed {
        top: 30vh;
        left: 20vw;
    }

    .social-x__fixed {
        top: 10vh;
        left: 40vw;
    }
}

@media screen and (min-width: $desktop) {
    .social-img__fixed {
        width: 50vh;
        top: -2vh;
        left: 10vh;
    }

    .social-y__fixed {
        position: absolute;
        top: 20vh;
        left: 0vw;
    }

    .social-label__fixed {
        top: -10vh;
        left: 3vw;
        min-width: 300px;
    }

    .motivation-label__fixed {
        top: -20vh;
        left: -2vw;
        min-width: 500px;
    }

    .schedule-x__fixed {
        top: -20vh;
        left: 5vw;
        min-width: 500px;
    }
}

@media screen and (min-width: $wide) {
    .social-img__fixed {
        width: 18vw;
        top: 10vh;
        left: -20vw;
    }

    .social-y__fixed {
        top: 25vh;
        left: -23vw;
    }

    .social-x__fixed {
        top: 10vh;
        left: -5vw;
    }

    .social-label__fixed {
        top: 0vh;
        left: -25vw;
    }

    .schedule-x__fixed {
        top: 0vh;
        left: -20vw;
    }
}

.process__fixed {
    pointer-events: none;
    transition: opacity .5s ease-in-out;
}

@media screen and (min-width: $mobile) {
    .process__fixed {
        position: absolute;
        width: 80vw;
        opacity: 0;
        top: 0vh;
        left: 0vh;
        display: none;
    }
}

@media screen and (min-width: $desktop) {
    .process__fixed {
        top: -10vh;
        width: 80vh;
        left: 10vh;
    }
}

@media screen and (min-width: $wide) {
    .process__fixed {
        width: 30vh;
        top: 0vh;
    }
}
