@import 'vars';

.ball__fixed-container,
.art__fixed-container,
.laptop__fixed-container,
.notes__fixed-container {
    position: relative;
    z-index: 0;

    -moz-animation: z_orbit 4s linear 0.01s infinite;
    -o-animation: z_orbit 4s linear 0.01s infinite;
    animation: z_orbit 4s linear 0.01s infinite;

    -webkit-animation-name: z_orbit;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: -0.01s;
}

.notes__fixed-container {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.art__fixed-container {
    animation-delay: -2s;
    -webkit-animation-delay: -2s;
}

.laptop__fixed-container {
    animation-delay: -3s;
    -webkit-animation-delay: -3s;
}

.ball__fixed {
    position: absolute;
    left: 0vh;
    width: 10vh;

    -moz-animation: orbit 2s linear 0.01s infinite alternate;
    -o-animation: orbit 2s linear 0.01s infinite alternate;
    animation: orbit 2s linear 0.01s infinite alternate;

    -webkit-animation-name: orbit;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.01s;

    opacity: 0;
    display: block;
    transition: opacity .7s ease-in-out;
}

.notes__fixed {
    position: absolute;
    left: 0vh;
    width: 11vh;

    -moz-animation: orbit 2s linear 0.01s infinite alternate;
    -o-animation: orbit 2s linear 0.01s infinite alternate;
    animation: orbit 2s linear 0.01s infinite alternate;

    -webkit-animation-name: orbit;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;

    opacity: 0;
    display: block;
    transition: opacity .7s ease-in-out;
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.art__fixed {
    position: absolute;
    left: 0vh;
    width: 12vh;

    -moz-animation: orbit 2s linear 0.01s infinite alternate;
    -o-animation: orbit 2s linear 0.01s infinite alternate;
    animation: orbit 2s linear 0.01s infinite alternate;

    -webkit-animation-name: orbit;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;

    opacity: 0;
    display: block;
    transition: opacity .7s ease-in-out;
    animation-delay: -2s;
    -webkit-animation-delay: -2s;
}

.laptop__fixed {
    position: absolute;
    left: 0vh;
    width: 12vh;

    -moz-animation: orbit 2s linear 0.01s infinite alternate;
    -o-animation: orbit 2s linear 0.01s infinite alternate;
    animation: orbit 2s linear 0.01s infinite alternate;

    -webkit-animation-name: orbit;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.01s;

    opacity: 0;
    display: block;
    transition: opacity 1s ease-in-out;
    animation-delay: -3s;
    -webkit-animation-delay: -3s;
}

@media screen and (min-width: $mobile) {
    .experience__fixed {
        width: 67vw;
        left: 45vw;
        position: relative;
        top: 12vh;
    }

    .exp-text-code__fixed {
        left: 80vw;
        position: absolute;
        top: 8vh;
        font-size: 21px;
        font-family: 'Neucha';
    }
    .exp-text-art__fixed {
        left: 46vw;
        position: absolute;
        top: 34vh;
        font-size: 21px;
        font-family: 'Neucha';
    }
    .exp-text-data__fixed {
        left: 63vw;
        position: absolute;
        top: 26vh;
        font-size: 21px;
        font-family: 'Neucha';
    }
}

@media screen and (min-width: $mobileLandscape) {
    .experience__fixed {
        width: 40vw;
        left: 20vw;
        top: 20vh;
    }
}

@media screen and (min-width: $tablet) {
    .experience__fixed {
        width: 60vh;
        left: 20vh;
        position: relative;
        top: 10vh;
    }
}

@media screen and (min-width: $desktop) {
    .experience__fixed {
        width: 60vh;
        left: 8vh;
        position: absolute;
        top: 5vh;
    }

    .exp-text-code__fixed {
        left: 25vw;
        top: 0vh;
        font-size: 30px;
    }
    .exp-text-art__fixed {
        left: 7vw;
        top: 42vh;
        font-size: 30px;
    }
    .exp-text-data__fixed {
        left: 15vw;
        top: 30vh;
        font-size: 30px;
    }
}

@media screen and (min-width: $wide) {
    .experience__fixed {
        width: 20vw;
        left: 10vw;
        position: relative;
        top: 0vh;
    }

    .exp-text-code__fixed {
        left: 20vw;
        top: -4vh;
        font-size: 28px;
        width: 100%
    }
    .exp-text-art__fixed {
        left: 10vw;
        top: 19vh;
        font-size: 28px;
    }
    .exp-text-data__fixed {
        left: 15vw;
        top: 12vh;
        font-size: 28px;
    }
}
