@import 'vars';

.sun__fixed {
    position: absolute;
    width: 12vh;
    left: 40vh;
    top: -10vh;
    -webkit-animation: rotate 5s linear infinite, sun_orbit 2s linear infinite;
    -moz-animation: rotate 5s linear infinite, sun_orbit 2s linear infinite;
    -o-animation: rotate 5s linear infinite, sun_orbit 2s linear infinite;
    animation: rotate 5s linear infinite, sun_orbit 2s linear infinite;
    transition: opacity .4s ease-in-out;
    display: none;
}


.city1 {
    animation-delay: -.7s;
    -webkit-animation: move 2.9s linear infinite alternate;
    -moz-animation: move 2.9s linear infinite alternate;
    -o-animation: move 2.9s linear infinite alternate;
    animation: move 2.9s linear infinite alternate;
    max-width: 100%;
    position: relative;
    top: 10vh;
}

.city2 {
    -webkit-animation: move 2.1s linear infinite alternate;
    -moz-animation: move 2.1s linear infinite alternate;
    -o-animation: move 2.1s linear infinite alternate;
    animation: move 2.1s linear infinite alternate;
    margin-top: 20px;
    max-width: 100%;
}

.city {
    position: absolute;
    opacity: 0;
    transition-delay: .4s;
    transition: opacity .7s ease-in-out;
}

@media screen and (min-width: $mobile) {
    .city {
        width: 70vh;
        left: -20vh;
        top: 30vh;
    }
}

@media screen and (min-width: $phablet) {
    .city {
        width: 40vh;
        left: 30vh;
        top: 0vh;
    }
}

@media screen and (min-width: $tablet) {
    .city {
        width: 40vh;
        left: 25vh;
        top: 0vh;
    }
}


@media screen and (min-width: $mobile) {
    .sun__fixed {
        width: 16vh;
        left: 0vh;
        top: -20vh;
    }
}

@media screen and (min-width: $tablet) {
    .sun__fixed {
        width: 12vh;
        left: 40vh;
        top: -10vh;
    }
}

@keyframes sun_orbit {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    85% {
        opacity: 1;
    }
    95% {
        transform: translate(40vh, 15vh);
    }
    96% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(0px, 0px);
    }
}
