@import 'vars';

.workcloud__fixed {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 22vw;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    top: 0;
}

.phone {
    pointer-events: none;
}

.workcloud__fixed.image-shown {
    .phone {
        -webkit-animation: quick_rotate 6s linear infinite;
        -moz-animation: quick_rotate 6s linear infinite;
        -o-animation: quick_rotate 6s linear infinite;
        animation: quick_rotate 6s linear infinite;
    }
}

@media screen and (min-width: $mobile) {
    .phone {
        position: absolute;
        width: 30vw;
        height: 0;
        padding-top: 190%;
        background-size: 30vw;
    }
}

@media screen and (min-width: $tablet) {
    .phone {
        width: 35vh;
        padding-top: 120%;
        background-size: 35vh;
    }
}

@media screen and (min-width: $desktop) {
    .phone {
        width: 35vh;
        padding-top: 120%;
        background-size: 35vh;
    }
}

.phone_1 {
    left: 000px;
    background-image: url('../img/hand_1.png');
}

.phone_2 {
    animation-delay: -2s;
    left: 100px;
    background-image: url('../img/hand_1.png');
}

@media screen and (min-width: $tablet) {
    .phone_2 {
        left: 200px;
    }
}

.phone_3 {
    animation-delay: -1s;
    left: 200px;
    background-image: url('../img/hand_1.png');
}

@media screen and (min-width: $tablet) {
    .phone_3 {
        left: 400px;
    }
}
