@import 'vars';

.timeline__fixed {
    position: relative;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
}

@media screen and (min-width: $mobile) {
    .timeline-img__fixed {
        width: 90vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: 20vh;
    }
}

@media screen and (min-width: $mobileLandscape) {
    .timeline-img__fixed {
        width: 72vh;
        top: 10vh;
    }
}

@media screen and (min-width: $tablet) {
    .timeline-img__fixed {
        width: 55vh;
        top: 15vh;
    }
}

@media screen and (min-width: $desktop) {
    .timeline-img__fixed {
        width: 70vh;
        top: -12vh;
    }
}

@media screen and (min-width: $wide) {
    .timeline-img__fixed {
        width: 45vh;
        top: 5vh;
        left: -20vw;
    }
}

@media screen and (min-width: $mobile) {
    .proposal-img__fixed {
        width: 80vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: -5vh;
    }

@-webkit-keyframes fade {
    0%   { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
      100% { opacity: 0; }
}
@-moz-keyframes fade {
    0%   { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fade {
    0%   { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade {
    0%   { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
}

.proposal-img__fade {
    -webkit-animation: fade 1.8s linear infinite alternate; /* Safari 4+ */
      -moz-animation: fade 1.8s linear infinite alternate; /* Fx 5+ */
      -o-animation: fade 1.8s linear infinite alternate; /* Opera 12+ */
      animation: fade 1.8s linear infinite alternate; /* IE 10+, Fx 29+ */
}

.work_process-img__fade {
    -webkit-animation: fade 1.6s linear infinite; /* Safari 4+ */
      -moz-animation: fade 1.6s linear infinite; /* Fx 5+ */
      -o-animation: fade 1.6s linear infinite; /* Opera 12+ */
      animation: fade 1.6s linear infinite; /* IE 10+, Fx 29+ */
}
}

@media screen and (min-width: $mobileLandscape) {
    .proposal-img__fixed {
        width: 72vh;
        top: 10vh;
    }
}

@media screen and (min-width: $tablet) {
    .proposal-img__fixed {
        width: 50vh;
        top: -10vh;
    }
}

@media screen and (min-width: $desktop) {
    .proposal-img__fixed {
        width: 42vh;
        top: -5vh;
        left: 14vw;
    }
}

@media screen and (min-width: $wide) {
    .proposal-img__fixed {
        width: 40vh;
        top: 10vh;
        left: -20vw;
    }
}


@media screen and (min-width: $mobile) {
    .timeline-text__fixed {
        background-color: #F1F0EC;
        width: 100vw;
        font-size: 18px;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: -13vh;
        left: 0vh;
        font-family: 'Neucha';
    }

    .experience-text__fixed {
        background-color: #F1F0EC;
        width: 100vw;
        font-size: 18px;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: 15vh;
        left: 30vh;
        font-family: 'Neucha';

    }

    p {
        margin: 8px;
    }

    .timeline-text-image__fixed {
        max-width: 36px;
        max-height: 36px;
    }
}

@media screen and (min-width: $tablet) {
    .timeline-text__fixed {
        width: 70vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: -9vh;
        left: 0vh;

        p {
            padding-bottom: 3px;
        }
    }
}

@media screen and (min-width: $desktop) {
    .timeline-text__fixed {
        width: 70vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: -5vh;
        left: 60vh;
    }
}

@media screen and (min-width: $wide) {
    .timeline-text__fixed {
        width: 70vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: 5vh;
        left: 00vh;
    }
}

    @media screen and (min-width: $mobile) {
        .work_process-text__fixed {
            width: 90vw;
            position: absolute;
            transition: opacity .5s ease-in-out;
            pointer-events: none;
            top: 25vh;
        }

        .work_process-x__fixed {
            position: absolute;
            top: 46vh;
            left: 5vw;
            font-family: 'Neucha';
        }
        .work_process-x_2__fixed {
            position: absolute;
            top: 46vh;
            left: 35vw;
            font-family: 'Neucha';
        }
        .work_process-y__fixed {
            position: absolute;
            top: 20vh;
            left: 50vw;
            font-family: 'Neucha';
        }

        .process-source__fixed {
            position: absolute;
            top: 55vh;
            left: -2vw;
            font-family: 'Neucha';
            font-size: 16px;
            width: 100%;
            text-decoration: underline;
            text-align: center;
        }

        .calendar-source__fixed,
        .budget-source__fixed,
        .social-source__fixed {
            position: absolute;
            top: 63vh;
            left: 0vw;
            min-width: 300px;
            font-family: 'Neucha';
            text-decoration: underline;
            font-size: 16px;
        }

        .social-source__fixed {
            top: 45vh;
        }
    }

@media screen and (min-width: $mobileBig) {
    .social-source__fixed {
        top: 44vh;
        text-align: center;
        left: 0px;
    }

    .timeline-text__fixed {
        top: -10vh;
    }
}

    @media screen and (min-width: $mobileLandscape) {
        .work_process-y__fixed {
            position: absolute;
            top: 47vh;
            left: 8vw;
        }
    }

    @media screen and (min-width: $phablet) {

        .work_process-text__fixed {
            width: 70vw;
            top: 15vh;
        }

        .work_process-x__fixed {
            top: 15vh;
            left: 50vw;
        }
        .work_process-y__fixed {
            top: 45vh;
            left: 8vw;
        }
    }

    @media screen and (min-width: $tablet) {
        .work_process-text__fixed {
            width: 60vh;
            top: 20vh;
            left: 0px;
        }

        .work_process-x__fixed {
            top: 46vh;
            left: 8vw;
        }
        .work_process-y__fixed {
            top: 15vh;
            left: 45vw;
        }
    }

    @media screen and (min-width: $desktop) {
        .work_process-text__fixed {
            width: 76vh;
            top: 14vh;
            left: -2vw;
        }

        .work_process-x__fixed {
            top: 44vh;
            left: 2vw;
        }

        .work_process-x_2__fixed {
            top: 44vh;
            left: 17vw;
        }
        .work_process-y__fixed {
            top: 10vh;
            left: 25vw;
        }

        .process-source__fixed {
            top: 55vh;
            left: 8vw;
            text-align: left;
        }

        .calendar-source__fixed {
            top: 51vh;
            left: 5vw;
            width: 500px;
        }

        .social-source__fixed {
            top: 47vh;
            left: 5vw;
            width: 500px;
        }

        .budget-source__fixed {
            top: 42vh;
            left: -20vw;
            width: 500px;
        }
    }

    @media screen and (min-width: $wide) {
        .work_process-text__fixed {
            width: 45vh;
            left: -25vw;
        }

        .work_process-x__fixed {
            top: 33vh;
            left: -22vw;
        }

        .work_process-x_2__fixed {
            top: 33vh;
            left: -15vw;
        }
        .work_process-y__fixed {
            top: 10vh;
            left: -10vw;
        }

        .process-source__fixed {
            left: -25vw;
            top: 42vh;
        }

        .calendar-source__fixed {
            top: 45vh;
            left: -21vw;
            width: 500px;
        }

        .social-source__fixed {
            top: 40vh;
            left: -20vw;
            width: 500px;
        }

        .budget-source__fixed {
            top: 32vh;
            left: -20vw;
            width: 500px;
        }
    }
