@import 'vars';

.portfolio_phone {
    pointer-events: none;
}

.portfolio_phone {
        -webkit-animation: portfolio__flicker 6s linear infinite;
        -moz-animation: portfolio__flicker 6s linear infinite;
        -o-animation: portfolio__flicker 6s linear infinite;
        animation: portfolio__flicker 6s linear infinite;
}

@media screen and (min-width: $mobile) {
    .portfolio_phone {
        position: absolute;
        width: 30vw;
        height: 0;
        padding-top: 190%;
        background-size: 30vw;
    }
}

@media screen and (min-width: $tablet) {
    .portfolio_phone {
        width: 35vh;
        padding-top: 120%;
        background-size: 35vh;
    }
}

@media screen and (min-width: $desktop) {
    .portfolio_phone {
        width: 35vh;
        padding-top: 120%;
        background-size: 35vh;
    }
}

@media screen and (min-width: $mobile) {
    .phone_4 {
        left: 000px;
        background-image: url('../img/hand_4.png');
    }
}

@media screen and (min-width: $mobile) {
    .phone_5 {
        left: 100px;
        animation-delay: -2s;
        background-image: url('../img/hand_5.png');
    }
}

@media screen and (min-width: $tablet) {
    .phone_5 {
        left: 200px;
        animation-delay: -2s;
    }
}

@media screen and (min-width: $mobile) {
    .phone_6 {
        left: 200px;
        animation-delay: -1s;
        background-image: url('../img/hand_6.png');
    }
}

@media screen and (min-width: $tablet) {
    .phone_6 {
        left: 400px;
        animation-delay: -1s;
    }
}
