@import 'vars';

@media screen and (min-width: $mobile) {
    .timeline__fixed {
        width: 90vw;
        position: absolute;
        opacity: 0;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: -10vh;
    }
}

@media screen and (min-width: $tablet) {
    .timeline__fixed {
        width: 70vh;
        top: -20vh;
    }
}

@media screen and (min-width: $desktop) {
    .timeline__fixed {
        width: 80vh;
        top: -20vh;
    }
}

@media screen and (min-width: $wide) {
    .timeline__fixed {
        width: 30vh;
        top: -20vh;
    }
}
