@import 'vars';

.timeline__fixed {
    position: absolute;
    width: 45vh;
    opacity: 0;
    display: none;
    transition: opacity .8s ease-in-out;
    -webkit-animation: young_rotate 2s linear infinite alternate;
    -moz-animation: young_rotate 2s linear infinite alternate;
    -o-animation: young_rotate 2s linear infinite alternate;
    animation: young_rotate 2s linear infinite alternate;
    pointer-events: none;
}
