@import 'vars';

.tools__fixed {
    pointer-events: none;
    opacity: 0;
}


@media screen and (min-width: $mobile) {
    .tools-img__fixed {
        width: 70vw;
        position: absolute;
        transition: opacity .5s ease-in-out;
        pointer-events: none;
        top: 5vh;
    }
}

@media screen and (min-width: $tablet) {
    .tools-img__fixed {
        width: 40vh;
        top: -18vh;
    }
}

@media screen and (min-width: $desktop) {
    .tools-img__fixed {
        width: 50vh;
        top: -10vh;
        left: 10vh;
    }
}

@media screen and (min-width: $wide) {
    .tools-img__fixed {
        width: 30vh;
        top: 0vh;
    }
}

.process__fixed {
    pointer-events: none;
}

@media screen and (min-width: $mobile) {
    .process__fixed {
        position: absolute;
        width: 80vw;
        opacity: 0;
        top: 0vh;
        left: 0vh;
        display: none;
        transition: opacity .8s ease-in-out;
    }
}

@media screen and (min-width: $desktop) {
    .process__fixed {
        top: -10vh;
        width: 80vh;
        left: 10vh;
    }
}

@media screen and (min-width: $wide) {
    .process__fixed {
        width: 30vh;
        top: 0vh;
    }
}
