@import 'vars';

.comic__main--text--intro {
    text-align: center;
    position: relative;
    min-height: 98vh;
    background-color: #fff;
    margin-top: 0px;
    padding-top: 30px;
    border-bottom: 1px solid #333;

    a {
        color: #333333;
    }

    h3 {
        position: absolute;
        right: 5vh;
    }

    @media screen and (min-width: $mobile) {
        min-height: 80vh;

        h1 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 auto;
        }

        h4 {
            position: absolute;
            left: 5vh;
            opacity: 0;
        }
    }

    @media screen and (min-width: $tablet) {
        min-height: 98vh;
        h1 {
            font-size: 44px;
            line-height: 48px;
            margin: 0 auto;
        }
        h4 {
            opacity: 1;
        }
    }

    @media screen and (min-width: $desktop) {
        h1 {
            font-size: 54px;
            line-height: 60px;
            margin: 0 auto;
        }
    }
}

.comic__main--text {
    margin: 0 auto;
    margin-top: 00px;

    a {
        color: #333;

        &:visited {
            color: #333;
        }
    }

    @media screen and (min-width: $tablet) {
        p {
            font-size: 22px;
            line-height: 32px;
            margin: 0 auto;
        }
    }

    @media screen and (min-width: $desktop) {
        p {
            font-size: 20px;
            line-height: 30px;
            max-width: 50vw;
            margin: 0 auto;
        }
    }

    p {
        font-family: 'Proza Libre', Arial, sans-serif;
        text-align: left;
        z-index: 100;
        position: relative;
        margin: 0 auto;
        margin-top: 75vh;
        margin-bottom: 75vh;
        font-weight: 400;
        background: rgba(241,240,236, 0.9);
        border-top: 1px solid #dedede;
        border-left: 1px solid #dedede;
    }
}

.comic__main--text--step {
    box-shadow: 4px 4px 1px #999999;
    padding: 10px;
}
