@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibre-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'NHaasGrotesk';
  src: url("../fonts/NHaasGroteskBd.ttf");
  font-weight: bold; }
.sun__fixed {
  position: absolute;
  width: 10vh;
  left: 40vh;
  top: -10vh;
  -moz-animation: sun_orbit 2s linear 0.01s infinite;
  -o-animation: sun_orbit 2s linear 0.01s infinite;
  animation: sun_orbit 2s linear 0.01s infinite;
  -webkit-animation-name: sun_orbit;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite, infinite;
  transition: opacity .4s ease-in-out;
  display: none;
  pointer-events: none; }

.sun_wrapper {
  -moz-animation: rotate 4s linear 0.01s infinite;
  -o-animation: rotate 4s linear 0.01s infinite;
  animation: rotate 4s linear 0.01s infinite;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite, infinite; }

.city1 {
  animation-delay: -.7s;
  -moz-animation: move 2.9s linear infinite alternate;
  -o-animation: move 2.9s linear infinite alternate;
  animation: move 2.9s linear infinite alternate;
  -webkit-animation-name: move;
  -webkit-animation-duration: 2.9s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  max-width: 100%;
  position: relative;
  top: 10vh; }

.city2 {
  -moz-animation: move 2.1s linear infinite alternate;
  -o-animation: move 2.1s linear infinite alternate;
  animation: move 2.1s linear infinite alternate;
  -webkit-animation-name: move;
  -webkit-animation-duration: 2.1s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  margin-top: 20px;
  max-width: 100%; }

.city3 {
  animation-delay: -.2s;
  -moz-animation: move 2.9s linear infinite alternate;
  -o-animation: move 2.9s linear infinite alternate;
  animation: move 2.9s linear infinite alternate;
  -webkit-animation-name: move;
  -webkit-animation-duration: 2.9s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  max-width: 100%;
  top: -15vh; }

.city {
  position: absolute;
  opacity: 0;
  transition: opacity .7s ease-in-out;
  pointer-events: none; }

@media screen and (min-width: 319px) {
  .city {
    width: 60vh;
    left: -20vh;
    top: 20vh; } }
@media screen and (min-width: 660px) {
  .city {
    width: 40vh;
    left: 30vh;
    top: 0vh; } }
@media screen and (min-width: 740px) {
  .city {
    width: 40vh;
    left: 25vh;
    top: 0vh; } }
@media screen and (min-width: 319px) {
  .sun__fixed {
    width: 12vh;
    left: 0vh;
    top: -20vh; } }
@media screen and (min-width: 740px) {
  .sun__fixed {
    width: 12vh;
    left: 40vh;
    top: -10vh; } }
@-webkit-keyframes sun_orbit {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translate(0px, 0px); }
  85% {
    opacity: 1; }
  95% {
    -webkit-transform: translate(40vh, 15vh); }
  96% {
    opacity: 0; }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg) translate(0px, 0px); } }
@-moz-keyframes sun_orbit {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px); }
  85% {
    opacity: 1; }
  95% {
    transform: translate(40vh, 15vh); }
  96% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(360deg) translate(0px, 0px); } }
@-o-keyframes sun_orbit {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px); }
  85% {
    opacity: 1; }
  95% {
    transform: translate(40vh, 15vh); }
  96% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(360deg) translate(0px, 0px); } }
@keyframes sun_orbit {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate(0px, 0px); }
  85% {
    opacity: 1; }
  95% {
    transform: translate(40vh, 15vh); }
  96% {
    opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(360deg) translate(0px, 0px); } }

/*# sourceMappingURL=page__0.css.map */
