@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibre-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'NHaasGrotesk';
  src: url("../fonts/NHaasGroteskBd.ttf");
  font-weight: bold; }
.ball__fixed {
  position: absolute;
  left: 0vh;
  width: 15vh;
  -moz-animation: rotate 2.7s linear infinite, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -o-animation: rotate 2.7s linear infinite, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  animation: rotate 2.7s linear 0.01s infinite, orbit 2s linear 0.01s infinite alternate, z_orbit 4s linear 0.01s infinite;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  display: block;
  transition: opacity .7s ease-in-out; }

.notes__fixed {
  position: absolute;
  left: 0vh;
  width: 15vh;
  -moz-animation: young_rotate .6s linear infinite alternate, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -o-animation: young_rotate .6s linear infinite alternate, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  animation: young_rotate .6s linear infinite alternate, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  display: block;
  transition: opacity .7s ease-in-out;
  animation-delay: -1s; }

.art__fixed {
  position: absolute;
  left: 0vh;
  width: 15vh;
  -moz-animation: rotate 2.7s linear infinite, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -o-animation: rotate 2.7s linear infinite, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  animation: rotate 2.7s linear infinite, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  display: block;
  transition: opacity .7s ease-in-out;
  animation-delay: -2s; }

.laptop__fixed {
  position: absolute;
  left: 0vh;
  width: 15vh;
  -moz-animation: young_rotate .6s linear infinite alternate, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  -o-animation: young_rotate .6s linear infinite alternate, orbit 2s linear infinite alternate, z_orbit 4s linear infinite;
  animation: young_rotate .6s linear 0.01s infinite alternate, orbit 2s linear 0.01s infinite alternate, z_orbit 4s linear 0.01s infinite;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  display: block;
  transition: opacity 1s ease-in-out;
  animation-delay: -3s; }

.globe {
  width: 30vh;
  left: 20vh;
  position: relative;
  top: 10vh; }

/*# sourceMappingURL=page__2.css.map */
