@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibre-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'NHaasGrotesk';
  src: url("../fonts/NHaasGroteskBd.ttf");
  font-weight: bold; }
.data__fixed-container,
.laptop__fixed-container,
.draw__fixed-container {
  position: relative;
  z-index: 0;
  -moz-animation: z_orbit 5s linear 0.01s infinite;
  -o-animation: z_orbit 5s linear 0.01s infinite;
  animation: z_orbit 5s linear 0.01s infinite;
  -webkit-animation-name: z_orbit;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: -0.01s; }

.draw__fixed-container {
  animation-delay: -1.6s;
  -webkit-animation-delay: -1.6s; }

.laptop__fixed-container {
  animation-delay: -3.2s;
  -webkit-animation-delay: -3.2s; }

.data__fixed {
  position: absolute;
  left: 0vh;
  width: 9vh;
  top: -3vh;
  -moz-animation: orbit 2.5s linear 0.01s infinite alternate;
  -o-animation: orbit 2.5s linear 0.01s infinite alternate;
  animation: orbit 2.5s linear 0.01s infinite alternate;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.01s;
  opacity: 0;
  display: block;
  transition: opacity .7s ease-in-out; }

.draw__fixed {
  position: absolute;
  left: 0vh;
  width: 9vh;
  top: -3vh;
  -moz-animation: orbit 2.5s linear 0.01s infinite alternate;
  -o-animation: orbit 2.5s linear 0.01s infinite alternate;
  animation: orbit 2.5s linear 0.01s infinite alternate;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
  display: block;
  transition: opacity .7s ease-in-out;
  animation-delay: -1.6s;
  -webkit-animation-delay: -1.6s; }

.laptop__fixed {
  position: absolute;
  left: 0vh;
  width: 10vh;
  top: -3vh;
  -moz-animation: orbit 2.5s linear 0.01s infinite alternate;
  -o-animation: orbit 2.5s linear 0.01s infinite alternate;
  animation: orbit 2.5s linear 0.01s infinite alternate;
  -webkit-animation-name: orbit;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.01s;
  opacity: 0;
  display: block;
  transition: opacity 1s ease-in-out;
  animation-delay: -3.2s;
  -webkit-animation-delay: -3.2s; }

@media screen and (min-width: 980px) {
  .laptop__fixed {
    left: 15vh;
    top: 3vh; }

  .draw__fixed {
    left: 15vh;
    top: 3vh; }

  .data__fixed {
    left: 15vh;
    top: 3vh; } }
@media screen and (min-width: 1460px) {
  .laptop__fixed, .draw__fixed, .data__fixed {
    left: -55vh; } }
@media screen and (min-width: 319px) {
  .experience__fixed {
    width: 83vw;
    left: 40vw;
    position: relative;
    top: -35vh; }

  .exp-text-code__fixed {
    left: 80vw;
    position: absolute;
    top: 20vh;
    font-size: 18px;
    font-family: 'Neucha';
    width: 100%; }

  .exp-text-art__fixed {
    left: 41vw;
    position: absolute;
    top: 39vh;
    font-size: 18px;
    font-family: 'Neucha';
    width: 100%; }

  .exp-text-data__fixed {
    left: 58vw;
    position: absolute;
    top: 26vh;
    font-size: 18px;
    font-family: 'Neucha';
    width: 100%; }

  .experience-x__fixed {
    position: absolute;
    top: -43vh;
    left: 31vw;
    min-width: 300px;
    font-family: 'Neucha';
    text-decoration: underline;
    font-size: 26px;
    vertical-align: center; }

  .experience-source__fixed {
    position: absolute;
    top: 44vh;
    left: 40vw;
    min-width: 260px;
    font-family: 'Neucha';
    text-decoration: underline;
    font-size: 16px;
    vertical-align: center; }

  .motivation-source__fixed {
    position: absolute;
    top: 44vh;
    left: -5vw;
    min-width: 300px;
    font-family: 'Neucha';
    text-decoration: underline;
    font-size: 16px;
    text-align: center; }

  .proposal-source__fixed {
    position: absolute;
    top: 46vh;
    left: -5vw;
    min-width: 350px;
    font-family: 'Neucha';
    text-decoration: underline;
    font-size: 16px;
    text-align: center; } }
@media screen and (min-width: 370px) {
  .experience-x__fixed {
    left: 40vw; }

  .motivation-source__fixed {
    left: 4vw; } }
@media screen and (min-width: 480px) {
  .experience__fixed {
    width: 40vw;
    left: 20vw;
    top: 20vh; } }
@media screen and (min-width: 740px) {
  .experience__fixed {
    width: 50vh;
    left: -15vh;
    position: relative;
    top: -20vh; }

  .experience-source__fixed {
    left: -8vw;
    top: 40vh;
    min-width: 300px; }

  .proposal-source__fixed {
    left: 10vw;
    top: 42vh; } }
@media screen and (min-width: 980px) {
  .experience__fixed {
    width: 60vh;
    left: -20vh;
    position: absolute;
    top: -12vh; }

  .exp-text-code__fixed {
    left: 20vw;
    top: 0vh;
    font-size: 22px; }

  .exp-text-art__fixed {
    left: 00vw;
    top: 40vh;
    font-size: 22px; }

  .exp-text-data__fixed {
    left: 12vw;
    top: 17vh;
    font-size: 22px; }

  .experience-x__fixed {
    left: -5vw;
    top: -20vh;
    font-size: 28px;
    text-align: center; }

  .experience-source__fixed {
    left: -8vw;
    top: 45vh; }

  .motivation-source__fixed {
    left: -8vw;
    top: 45vh;
    min-width: 500px; }

  .proposal-source__fixed {
    left: 0vw;
    top: 50vh;
    min-width: 650px;
    text-align: left; } }
@media screen and (min-width: 1460px) {
  .experience__fixed {
    width: 20vw;
    left: -15vw;
    position: relative;
    top: -12vh; }

  .exp-text-code__fixed {
    left: 36vw;
    top: 2vh;
    font-size: 24px;
    width: 100%; }

  .exp-text-art__fixed {
    left: 24vw;
    top: 16vh;
    font-size: 24px; }

  .exp-text-data__fixed {
    left: 26vw;
    top: 10vh;
    font-size: 24px; }

  .experience-source__fixed {
    left: -10vw;
    top: 25vh; } }

/*# sourceMappingURL=page__2.css.map */
