@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibre-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'NHaasGrotesk';
  src: url("../fonts/NHaasGroteskBd.ttf");
  font-weight: bold; }
@media screen and (min-width: 319px) {
  .rain_cloud__fixed {
    width: 30vh;
    z-index: 30;
    opacity: 0;
    transition: opacity .8s ease-in-out;
    left: 0vh;
    position: absolute;
    top: 0vh; }
    .rain_cloud__fixed .cloud {
      display: block;
      width: 100%;
      position: absolute;
      left: 8vh; } }
@media screen and (min-width: 480px) {
  .rain_cloud__fixed {
    width: 35vw;
    left: 10vw;
    position: absolute;
    top: 0vh; }
    .rain_cloud__fixed .cloud {
      display: block;
      width: 100%;
      position: absolute; } }
@media screen and (min-width: 740px) {
  .rain_cloud__fixed {
    width: 30vh;
    left: 20vh;
    position: absolute;
    top: 0vh; }

  .cloud {
    position: absolute;
    left: 10vh; } }
@media screen and (min-width: 1300px) {
  .rain_cloud__fixed {
    width: 25vh;
    left: -45vh;
    position: absolute;
    top: 0vh; }

  .cloud {
    position: absolute;
    left: 5vh; } }
.raindrop__fixed {
  position: absolute;
  width: 1vh;
  top: 5vh;
  transition: opacity .8s ease-in-out;
  -webkit-animation: raindrop 1.8s linear infinite;
  -moz-animation: raindrop 1.8s linear infinite;
  -o-animation: raindrop 1.8s linear infinite;
  animation: raindrop 1.8s linear infinite; }

.waves__fixed {
  position: absolute;
  top: 30vh;
  width: 40vh;
  left: -30vh;
  -webkit-animation: move 2s linear infinite alternate;
  -moz-animation: move 2s linear infinite alternate;
  -o-animation: move 2s linear infinite alternate;
  animation: move 2s linear infinite alternate; }

.waves2 {
  left: 0vh;
  -webkit-animation: move 2s linear infinite alternate;
  -moz-animation: move 2s linear infinite alternate;
  -o-animation: move 2s linear infinite alternate;
  animation: move 2s linear infinite alternate; }

.rain1 {
  left: 10vh;
  animation-delay: -.45s; }

.rain2 {
  left: 12vh;
  animation-delay: -.15s; }

.rain3 {
  left: 14vh;
  animation-delay: -.6s; }

.rain4 {
  left: 18vh;
  animation-delay: -.3s; }

.rain5 {
  left: 20vh; }

.rain6 {
  left: 8vh; }

@media screen and (min-width: 319px) {
  .slidecontainer {
    position: absolute;
    top: -10vh;
    left: 5vh; } }
@media screen and (min-width: 740px) {
  .slidecontainer {
    top: -5vh; } }
@media screen and (min-width: 1300px) {
  .slidecontainer {
    top: -10vh;
    left: 5vw; } }
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 200%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #333333;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #F1F0EC;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: #F1F0EC;
    border: 1px solid #333333; }

/*# sourceMappingURL=page__5.css.map */
