@font-face {
  font-family: 'Proza Libre';
  src: url("../fonts/ProzaLibre-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'NHaasGrotesk';
  src: url("../fonts/NHaasGroteskBd.ttf");
  font-weight: bold; }
.timeline__fixed {
  position: relative;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  pointer-events: none; }

@media screen and (min-width: 319px) {
  .timeline-img__fixed {
    width: 90vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: 20vh; } }
@media screen and (min-width: 480px) {
  .timeline-img__fixed {
    width: 72vh;
    top: 10vh; } }
@media screen and (min-width: 740px) {
  .timeline-img__fixed {
    width: 70vh;
    top: -18vh; } }
@media screen and (min-width: 980px) {
  .timeline-img__fixed {
    width: 70vh;
    top: -12vh; } }
@media screen and (min-width: 1300px) {
  .timeline-img__fixed {
    width: 45vh;
    top: 5vh;
    left: -20vw; } }
@media screen and (min-width: 319px) {
  .proposal-img__fixed {
    width: 90vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: 0vh; } }
@media screen and (min-width: 480px) {
  .proposal-img__fixed {
    width: 72vh;
    top: 10vh; } }
@media screen and (min-width: 740px) {
  .proposal-img__fixed {
    width: 70vh;
    top: -10vh; } }
@media screen and (min-width: 980px) {
  .proposal-img__fixed {
    width: 75vh;
    top: -5vh;
    left: 5vw; } }
@media screen and (min-width: 1300px) {
  .proposal-img__fixed {
    width: 40vh;
    top: 10vh;
    left: -20vw; } }
@media screen and (min-width: 319px) {
  .timeline-text__fixed {
    background-color: #F1F0EC;
    width: 100vw;
    font-size: 18px;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: -13vh;
    left: 0vh;
    font-family: 'Neucha'; }

  .experience-text__fixed {
    background-color: #F1F0EC;
    width: 100vw;
    font-size: 18px;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: 15vh;
    left: 30vh;
    font-family: 'Neucha'; }

  p {
    margin: 8px; }

  .timeline-text-image__fixed {
    max-width: 36px;
    max-height: 36px; } }
@media screen and (min-width: 740px) {
  .timeline-text__fixed {
    width: 70vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: -15vh;
    left: 50vh; }
    .timeline-text__fixed p {
      padding-bottom: 3px; } }
@media screen and (min-width: 980px) {
  .timeline-text__fixed {
    width: 70vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: -5vh;
    left: 60vh; } }
@media screen and (min-width: 1300px) {
  .timeline-text__fixed {
    width: 70vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: 5vh;
    left: 00vh; } }
@media screen and (min-width: 319px) {
  .work_process-text__fixed {
    width: 90vw;
    position: absolute;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
    top: 25vh; }

  .work_process-x__fixed {
    position: absolute;
    top: 46vh;
    left: 5vw;
    font-family: 'Neucha'; }

  .work_process-x_2__fixed {
    position: absolute;
    top: 46vh;
    left: 35vw;
    font-family: 'Neucha'; }

  .work_process-y__fixed {
    position: absolute;
    top: 20vh;
    left: 50vw;
    font-family: 'Neucha'; }

  .process-source__fixed {
    position: absolute;
    top: 55vh;
    left: -2vw;
    font-family: 'Neucha';
    font-size: 16px;
    width: 100%;
    text-decoration: underline; }

  .calendar-source__fixed,
  .budget-source__fixed,
  .social-source__fixed {
    position: absolute;
    top: 63vh;
    left: 0vw;
    min-width: 300px;
    font-family: 'Neucha';
    text-decoration: underline;
    font-size: 16px; }

  .social-source__fixed {
    top: 55vh; } }
@media screen and (min-width: 480px) {
  .work_process-y__fixed {
    position: absolute;
    top: 47vh;
    left: 8vw; } }
@media screen and (min-width: 660px) {
  .work_process-text__fixed {
    width: 70vw;
    top: 15vh; }

  .work_process-x__fixed {
    top: 15vh;
    left: 50vw; }

  .work_process-y__fixed {
    top: 45vh;
    left: 8vw; } }
@media screen and (min-width: 740px) {
  .work_process-text__fixed {
    width: 70vh;
    top: 20vh; }

  .work_process-x__fixed {
    top: 15vh;
    left: 45vw; }

  .work_process-y__fixed {
    top: 53vh;
    left: 8vw; } }
@media screen and (min-width: 980px) {
  .work_process-text__fixed {
    width: 76vh;
    top: 14vh;
    left: -2vw; }

  .work_process-x__fixed {
    top: 44vh;
    left: 2vw; }

  .work_process-x_2__fixed {
    top: 44vh;
    left: 17vw; }

  .work_process-y__fixed {
    top: 10vh;
    left: 25vw; }

  .process-source__fixed {
    top: 51vh;
    left: -2vw; }

  .calendar-source__fixed {
    top: 51vh;
    left: 5vw;
    width: 500px; }

  .social-source__fixed {
    top: 47vh;
    left: 5vw;
    width: 500px; }

  .budget-source__fixed {
    top: 42vh;
    left: -30vw;
    width: 500px; } }
@media screen and (min-width: 1300px) {
  .work_process-text__fixed {
    width: 45vh;
    left: -25vw; }

  .work_process-x__fixed {
    top: 33vh;
    left: -22vw; }

  .work_process-x_2__fixed {
    top: 33vh;
    left: -15vw; }

  .work_process-y__fixed {
    top: 10vh;
    left: -10vw; }

  .process-source__fixed {
    left: -25vw;
    top: 42vh; }

  .calendar-source__fixed {
    top: 45vh;
    left: -21vw;
    width: 500px; }

  .social-source__fixed {
    top: 40vh;
    left: -20vw;
    width: 500px; }

  .budget-source__fixed {
    top: 32vh;
    left: -20vw;
    width: 500px; } }

/*# sourceMappingURL=page__7.css.map */
